<h1>
    Register
</h1>
    <br>
<form [formGroup]="registrationForm" class="registration-form">
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="userName" placeholder="ExampleUsername" required>
            <mat-hint class="text-warning">*Required</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="example@bandengine.com" required>
            <mat-hint class="text-warning">*Required</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint class="text-warning">*Required</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Re-Enter Password</mat-label>
            <input matInput [type]="hideReenter ? 'password' : 'text'" formControlName="reenteredPassword" required>
            <mat-icon matSuffix (click)="hideReenter = !hideReenter">{{hideReenter ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint class="text-warning">*Required</mat-hint>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</form>